.App {
  text-align: center;
}

.app-container{
  background-color:#011526;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.button{
  background-color: green;
  color: #fff;
  font-family: "roboto";
  font-size: 14px;
  border-radius: 8px;
  padding: 8px;
  border: none;
  outline: none;
}


